# Node Environment
NODE_ENV=development

# Server Configuration
PORT=3000

# Database Configuration
DATABASE_URL="postgresql://user:password@localhost:5432/db"

JWT_SECRET=change-me
JWT_EXPIRES_IN=1d
